<br><div>
<h4 style="text-align: center">Данное приложение позволяет управлять библиотеками</h4>
<br><ul>
  <li><h6>Создание, редактирование и просмотр информации о библиотеках.</h6></li>
  <br>
  <li><h6>К каждой библиотеке создание, редактирование и просмотр информации о:</h6></li>
  <ul>
    <li><h7>книгах;</h7></li>
    <li><h7>абонентах;</h7></li>
    <li><h7>сотрудниках.</h7></li>
  </ul>
  <br>
  <li><h6>Создание выдачи книги абоненту из списка при условии, что эта книга не находится у другого абонента.</h6></li>
  <br>
  <li><h6>Просмотр топ-10 книг в каждой библиотеке.</h6></li>
</ul>
<hr>
<h5 style="text-align: center">Для просмотра функционала тыкай кнопку <strong>Список</strong> в шапке</h4>
</div>