<h1>Редактирование выдачи</h1>

<%= render 'form', serv: @serv, x: lib_book_serv_path(@serv.book.lib, @serv.book, @serv)%>

<%= link_to 'Назад', lib_book_serv_path(@serv.book.lib, @serv.book, @serv) %>
