body {
  background-color: #fff;
  background-image: image-url('image.jpg');
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.tools{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

table {
  table-layout: fixed;     
  width:100%;
}

th { 
  text-align: left; 
  background: #ccc;
  padding: 5px; 
  border: 1px solid black; 
 }
 td { 
  padding: 5px;
  border: 1px solid black;
  word-wrap: break-word;
 }

div {
  .bg_1 {
    border-radius: 10px;
    opacity: 0.9;
    padding: 1px 5px 10px 5px;
  }
  .bg_2 {
    border-radius: 10px;
    opacity: 0.9;
  }
  .paginator-parent {
    text-align: center;
  }
  .paginator-child {
    display:inline-block;
  }
  &.field, &.actions {
    margin-bottom: 10px;
    font-weight: bold;
  }
}

h3.main {
  text-align: center;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
