<br>
<h3 class="main">Топ-10 книг библиотеки <strong><%= @lib.name %></strong></h3>

<br>

<% @servs.group(:book_id).limit(10).order('count_all desc').count.each do |place| %>
  <strong>Книга:</strong>
  <% book_id = place.first %>
  <% Book.where('id' => book_id).each do |book| %>
    <%= link_to book.name, lib_book_path(@lib, book_id) %>
  <% end %>
  <br>
  <strong>Выдана раз:</strong>
  <%= place.second %>
  <br>
  <br>
<% end %>

<hr>
<div class="tools">
  <div class="actions">
  </div>
  <div class="actions">
    <%= link_to 'Назад', lib_path(@lib), :class => "btn btn-sm btn-outline-danger" %>
  </div>
</div>